body {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1 {
    text-align: center;
    
}

img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

br {
    font-size: medium;
}

.brewery{

    display: block;
    width: 80%;
    margin: 1em;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    height: 25px;

}


.brewery>p {
    display: inline;
    text-align: left;
    /* padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em; */
    margin-top: 90%;
    margin-bottom: 90%;
    margin-left: 10px;

}

.brewery>button {
    /* display: inline-flex */
    
    /* display: inline-flex; */
    float: right;
    width: 20%;
    margin-right: 0;
    /* vertical-align: middle; */
    background-color: lightgrey;
    margin-right: 10px;
}